<script>
    ga('send', 'pageview', { 'page': '/ProviderDashboard/Provider_account_Service_Transaction', 'title': 'Provider Account Service Transaction'});
</script>

<div>
    <link href="/afya-portal/static/css/afya-provider-services.css" rel="stylesheet" type="text/css">

    <style>
        .clickable {
        cursor: pointer;
        margin-top: -22px;
        }
    </style>
    <div class="clearfix"></div>
    <div id="Afya-blue">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12 mt501" id="nameDiv">
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 text-right mt501 ">
                </div>
            </div>
        </div>
    </div>
    <!--menu-->
    <div>
    <div class="container">
        <div class="row" id="Afya-liteblue" >
            <div class="col-sm-12 col-xs-12 col-md-12 text-left">
                <div class="menu">
                    <ul>
                        <li><a href="#ProviderDashboard">Account Summary</a></li>
                        <li class="active" > <a href="#ProviderDashboard/Provider_account_Service_Subscribe">Services</a></li>
                        <!--<li><a href="#ProviderDashboard/Provider_account_LoyaltyProg_information">Loyalty Program</a></li>-->
                        <!--<li><a href="#">Training</a></li>-->
                        <!--<li><a href="#">Consent &amp; Notifications</a></li>-->
                        <li><a href="#ProviderDashboard/Provider_account_MyNetwork_ExistingNetwork">My Network</a></li>
                        <!--<li><a href="#">Member Support</a></li>-->
                        <li><a href="#ProviderDashboard/Provider_account_policies">Afya Policies</a></li>
                        <li><a class="clickable" onclick="redirectClinic()">My Facility</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row"  >
            <div class="underlinemenu">
                <ul>
                    <li><a href="#ProviderDashboard/Provider_account_Service_Subscribe">Subscribed</a></li>
                    <li><a href="#ProviderDashboard/Provider_account_Service_Non_Subscribe">Non Subscribed</a></li>
                    <li><a href="#ProviderDashboard/Provider_account_Service_History">History</a></li>
                    <li><a href="#ProviderDashboard/Provider_account_Member_Settings">Member Settings</a></li>
                    <!--<li><a href="#ProviderDashboard/Provider_account_Service_Transaction" class="selected">Transactions</a></li>-->
                    <li><a href="#ProviderDashboard/Provider_account_Service_News">News</a></li>
                </ul>
            </div>
        </div>
    </div>

</div>
    <section>
    <div ng-controller="ProviderTransactionController" class="container">
        <div class="clearfix"></div>

        <div class="col-sm-12 col-xs-12 col-md-12">
            <div class="pack-wraper hvr-grow1">
                <div>
                    <table width="100%" border="0" class="table table-bordered">
                        <tr class="sub333-tr">
                            <th style="text-align: center">Online Payment Reference</th>
                            <th style="text-align: center">Package Name</th>
                            <th style="text-align: center">Transaction Amount</th>
                            <th style="text-align: center">Transaction Date</th>
                            <th style="text-align: center">Action</th>
                        </tr>
                        <tr ng-show="!paymentList.length"  style="text-align: center">
                            <td colspan="4"><text><i>No Data Found</i></text></td>
                        </tr>
                        <tbody ng-repeat="payment in paymentList">
                        <tr class="sub33-tr">
                            <td ng-bind="payment.isysTrackingRef"></td>
                            <td ng-bind="payment.packageName"></td>
                            <td ng-bind="payment.transactionAmount" class="text-right"></td>
                            <td ng-bind="payment.transactionDate | date :  'dd/MM/yyyy'" style="text-align: center">&nbsp;</td>
                            <td style="text-align: center">
                                <button type="button" class="btn btn-success" id="btnPrintReceipt" name="btnPrintReceipt" ng-click="onPrintReceiptClicked(payment)">Print&nbsp;
                                    <i class="fa fa-print"></i> </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!--/.container-->
    </div>
    </section>
    <div class="clearfix"></div>

    <script src="/afya-portal/static/js/jquery.aCollapTable.js"></script>
    <script>
        $(document).ready(function () {
            $('.collaptable').aCollapTable({
                startCollapsed: true,
                addColumn: false,
                plusButton: '&amp;lt;span class="i"&amp;gt;(+)&amp;amp;nbsp;&amp;lt;/span&amp;gt;',
                minusButton: '&amp;lt;span class="i"&amp;gt;(-)&amp;amp;nbsp;&amp;lt;/span&amp;gt;'
            });
        });
    </script>

    <div id="__zsc_once"></div>
</div>