<div>
    <link href="/afya-portal/static/css/dataTables.bootstrap.css" rel="stylesheet" type="text/css">

    <div ng-controller="ResetPasswordRequestController">
        <section id="regi-afya-slider">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-xs-12 col-md-12 text-left ">
                        <h2>Reset Password</h2>
                    </div>
                </div>
            </div>
            <div class="regi-afya-strip">
                <div class="container">
                    <div class="col-sm-12 col-xs-12 col-md-12 text-left">
                        <a href="/afya-portal">Home</a>
                        <span><i class="fa fa-angle-right"></i></span>
                        <span>Reset Password</span>
                    </div>
                </div>
            </div>
        </section>
        <div class="clearfix"></div>
        <section id="content">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">

                        <!--<h1 class="heading-text text-center mb30">Reset Password</h1>-->

                        <div class="tab-regi mb30">
                            <ul class="nav nav-tabs">
                                <li style="background: #33cc99;">
                                    <a href="#" style="color: white !important;">Reset Password</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <form name="myForm">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                New Password *
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <input type="password" class="form-control fsize" id="newPassword" name="newPassword" ng-model="newPassword" oncopy="return false;"
                                                       oncut="return false;" ng-click="clearErr()" required  placeholder="New Password"/>

                                                <password-strength ng-model="newPassword"></password-strength>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                            </div>
                                        </div>
                                        <button type="button" class="btn btn-default btn-sm pull-center" onclick="$('#passwordPolysis').modal('show')">
                                            <i class="fa fa-info"></i></button>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                Confirm Password *
                                            </div>
                                        </div>
                                        <!--<input type="password" ng-model="newPassword"  name="newPassword" oncopy="return false;" onpaste="return false;" oncut="return false;" ng-click="clearErr()" required />-->
                                        <!--<button data-widget="show" class="btn btn-default btn-sm pull-center" ng-click="information()"><i class="fa fa-info"></i></button>-->

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <input type="password" class="form-control fsize" ng-model="confirmPassword" id="confirmPassword" name="confirmPassword" oncopy="return false;" onpaste="return false;"
                                                       oncut="return false;" ng-click="clearErr()" required  placeholder="Confirm Password"/>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                            </div>
                                        </div>
                                    </div>
                                    <!--<input type="password" ng-model="confirmPassword" name="confirmPassword" oncopy="return false;" onpaste="return false;" oncut="return false;" ng-click="clearErr()" required />-->

                                    <div class="row"  ng-hide="isSubmit">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                Oops, Password does not match, please reenter the password.
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" ng-show="isSuccess">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                Congrats, your password has been reset Successfully. Afya is a secured system and thanks for following the policies.
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">

                                                <button data-target="" ng-click="submit()" class="btn btn-all mrm30 xs-mb10 xs-mr-auto"  type="button">submit</button>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <div class="modal fade" id="passwordPolysis" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header" style="text-align: left">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <img src="/afya-portal/static/images/popup-logo2.png" alt="logo" class=""/>
                        <span class="modal-head mrm30" style="margin-left:80px">Password Policy</span>
                    </div>
                    <div class="modal-body">
                        *&nbsp;&nbsp; Should contain at least 8 characters<br/>
                        *&nbsp;&nbsp; Should contain at least one digit<br/>
                        *&nbsp;&nbsp; Should contain at least one lower character and one upper<br/>&nbsp;&nbsp;&nbsp;&nbsp; character<br/>
                        *&nbsp;&nbsp; Should contain at least one special character from (!@%$^&*)<br/>
                        *&nbsp;&nbsp; Should not contain space<br/>
                        <hr>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-book btn-lg" data-dismiss="modal">Ok</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<script src="/afya-portal/static/js/jquery-1.js"></script>-->
        <script src="/afya-portal/static/js/bootstrap-datepicker.js"></script>

        <script>
            $(function() {
                $( ".btn" ).click(function() {
                var icon = $( this );
                icon.toggleClass( "ui-icon-minusthick ui-icon-plusthick" );
                icon.closest( ".box" ).find( ".box-body" ).toggle();
                });
            });

        </script>
        <script>
        $(document).ready(function () {
            //rotation speed and timer
            var speed =5000;

            var run = setInterval(rotate, speed);
            var slides = $('.slide');
            var container = $('#slides ul');
            var elm = container.find(':first-child').prop("tagName");
            var item_width = container.width();
            var previous = 'prev'; //id of previous button
            var next = 'next'; //id of next button
            slides.width(item_width); //set the slides to the correct pixel width
            container.parent().width(item_width);
            container.width(slides.length * item_width); //set the slides container to the correct total width
            container.find(elm + ':first').before(container.find(elm + ':last'));
            resetSlides();


            //if user clicked on prev button

            $('#buttons a').click(function (e) {
                //slide the item

                if (container.is(':animated')) {
                    return false;
                }
                if (e.target.id == previous) {
                    container.stop().animate({
                        'left': 0
                    }, 1500, function () {
                        container.find(elm + ':first').before(container.find(elm + ':last'));
                        resetSlides();
                    });
                }

                if (e.target.id == next) {
                    container.stop().animate({
                        'left': item_width * -2
                    }, 1500, function () {
                        container.find(elm + ':last').after(container.find(elm + ':first'));
                        resetSlides();
                    });
                }

                //cancel the link behavior
                return false;

            });

            //if mouse hover, pause the auto rotation, otherwise rotate it
            container.parent().mouseenter(function () {
                clearInterval(run);
            }).mouseleave(function () {
                run = setInterval(rotate, speed);
            });


            function resetSlides() {
                //and adjust the container so current is in the frame
                container.css({
                    'left': -1 * item_width
                });
            }

        });
        //a simple function to click next link
        //a timer will call this function, and the rotation will begin

        function rotate() {
            $('#next').click();
        }
        </script>


    </div>
</div>