<script>
    ga('send', 'pageview', { 'page': '/AfyaServices/ecosystem-adaptation', 'title': 'Ecosystem-Adaptation'});
</script>
<div ng-controller="TrainingScheduleController">
    <!--<script type="text/javascript" src="/afya-portal/static/js/floating-1.8.js"></script>-->
        <script>
            $(document).ready(function (){
                if(readCookieFromUserName("username")==null)
                {
                    $('#smart-pack').hide();
                    $('#download-methodology').show();
                }
                else
                {
                    $('#smart-pack').show();
                    $('#download-methodology').hide();
                }
            });

        </script>

        <div class="clearfix"></div>
        <section id="eco-adapt-afya-slider">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-xs-12 col-md-12 text-left ">
                        <h2>Ecosystem Adaptation Methodology For Care Providers :</h2>
                        <h1>Self-Learning + Assesment + Certification</h1>
                    </div>
                </div>
            </div>
            <div class="eco-adapt-afya-strip">
                <div class="container">
                    <div class="col-sm-12 col-xs-12 col-md-12 text-left"> 
                        <a href="/afya-portal">Home</a>
                        <span><i class="fa fa-angle-right"></i></span> <span><a ui-sref="ExperienceAfya/afya-services">Afya Services</a></span>
                        <span><i class="fa fa-angle-right"></i></span>         
                        <span>Ecosystem Adaptation</span>   
                    </div>
                </div>
            </div>
        </section>
        <div class="clearfix"></div>
        <section id="methodology">
            <div class="container">
                <div class="row">

                    <div class="icon-div col-md-2 col-md-offset-1 ">
                        <img src="images/eco.png" alt="assigment-icon3">
                    </div>
                    <div class="info-div col-md-9">

                        <p>
                            Afya's smart care ecosystem, being an innovative initiative, definitely calls for an extensive understanding of the program that details every aspect of the ecosystem to each stakeholder - its features, procedures, mode of use and benefits. Every member is inducted into Afya's ecosystem through this <u>self learning</u> management system. The program also includes continuing <u>self learning</u> sessions that comprises walk-throughs of the new features introduced in the ecosystem on a regular basis.
                            <br><br>

                            The adaptation methodology is member specific and caters to each type of stakeholder joining the ecosystem. The modules have been created by considering the <u>self learning</u> strategy that needs to be applied for each type of stakeholder - care provider versus payer versus patient.
                            <br><br>
                            The stakeholders are taken through a simulation of the real-time experience they would have within the ecosystem, which aids them in adapting to the ecosystem easily and effectively. The modules include <u>self learning</u> and assessment tools, which are by far one of the most effective <u>self learning</u> strategies. This program not only helps them appreciate the benefits of Afya's ecosystem but also gives them an overview of how Afya's processes are integrated within the ecosystem. This training program ensures that the stakeholders take advantage of all the features that the ecosystem has to offer.
                            <br><br>
                            We understand that <u>self learning</u> is a continuing process and that as a member you would definitely have queries as you use the live system. Afya's adaptation methodology also includes features that address your immediate questions and inquiries.

                        </p>
                        <br>
                         <button href="https://youtu.be/jKdLcGY6jPk" data-toggle="lightbox" class="btn btn-all" type="button"><i class="fa fa-play-circle-o fs23"></i>&nbsp; Virtual Tour</button>
                    </div>



                </div>

            </div>
        </section>

        <div class="clearfix"></div>
        <section id="approach">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
                        <h2 class="mt0">
                            Overall Approach
                        </h2>
                        <p>
                            The main feature of this adaptation methodology is that it is a  comprehensive structured <u>self learning</u> module executed through short and continuous training sessions without affecting the balance between the time spent on routine work
                            and that taken up for self training. The <u>self learning</u> program includes three phases - <u>self learning</u>, assessment and certification.
                        </p>
                        <div class="icon-div col-md-3">
                            <img src="images/training-icon1.svg" alt="training-icon1">
                        </div>
                        <div class="info-div col-md-9">
                            <h3>
                                <u>Self learning</u>
                            </h3>
                            <ul class="approach-ul">
                                <li>
                                    The <u>Self learning</u> programs are specific to user types and are detailed.
                                </li>
                                <li>
                                    These programs use scenarios to explain each administrative and functional activity within the ecosystem (eg, setting up master information, tracking clinic visits, using dashboards, building network, etc.).  -

                                </li>
                                <li>The purpose of each activity and its importance in simplifying the user's experience will also be detailed.</li>
                                <li>The duration and quality of  each session is monitored - simplicity and crispness are key.</li>
                                <li>These sessions will encourage a steep <u>self learning</u> curve within a limited time frame.</li>

                            </ul>

                        </div>
                        <div class="clearfix"></div>



                        <div class="icon-div col-md-3">
                            <img src="images/assigment-icon1.svg" alt="training-icon1">
                        </div>
                        <div class="info-div col-md-9">
                            <h3>
                                Assessment
                            </h3>
                            <ul class="approach-ul">
                                <li><u>Self learning</u> programs are effective only when the learner's level of understanding is assessed. The programs include simple and interesting assessments at the end of each <u>self learning</u> session - that is, for every session explaining each activity.</li>
                                <li>The assessment includes a theory section and a practical section.</li>
                                <li>The theory section includes objective-type questions such as multiple choice questions (MCQs), match the following and fill in the blanks, while the practical section is scenario based. </li>

                            </ul>

                        </div>
                        <div class="clearfix"></div>


                        <div class="icon-div col-md-3">
                            <img src="images/certificate-icon1.svg" alt="certificate-icon1">
                        </div>
                        <div class="info-div col-md-9">
                            <h3>
                                Certification
                            </h3>
                            <ul class="approach-ul">
                                <li>At the end of the <u>self learning</u> program, the members will be duly presented with a certificate that designates them as a ‘Certified Afya User’. This certification will signify the culmination of the online <u>self learning</u> process through Afya’s <u>self learning</u> management system.</li>

                            </ul>

                        </div>
                        <div class="clearfix"></div>



                    </div>
                    <div class="col-md-1"></div>
                </div>





            </div>
        </section>
        <div class="clearfix"></div>

        <section id="download-methodology"  >
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <span>
                            Click to &nbsp;
                        </span>    

                        <a href="#">Download Methodology</a>
                        <span>        
                            &nbsp;  Or &nbsp;	
                        </span>        
                        <button data-toggle="modal" data-target="#member_login" class="btn btn-all" type="button">Log In &nbsp;<i class="fa fa-chevron-right"></i></button>
                        <span>       
                            &nbsp; if you are already a member                             
                        </span>

                    </div>                    
                </div>
            </div>
        </section>

        <div class="clearfix"></div>
        <section id="smart-pack">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <span class="heading">
                            Adaptation Schedule for
                        </span>
                        <select id="packageId" class="smart-pack-dropdown"
                                ng-options="package.packageName for package in packageList" ng-change="setCurrentSchedule(package)" ng-model="package">
                        </select>

                        <div class="table-responsive mt40 br5">
                            <table datatable="ng"  class="table table-bordered">
                                <tr class="main-tr">
                                    <!--<td>Calendar</td>-->
                                    <td>Afya Smart Pack</td>
                                    <td >Training Sessions</td>
                                    <td >Training Duration (minutes)</td>
                                    <td >Practice Duration</td>
                                    <td >Assessment Duration</td>
                                    <!--<td>Service</td>-->
                                </tr>
                                <!--<tr class="sub-tr">-->
                                    <!--<td>Session</td>-->
                                    <!--<td>Clinic</td>-->
                                    <!--<td>Sessions</td>-->
                                    <!--<td>Duration (minutes)</td>-->
                                    <!--<td>Session</td>-->
                                    <!--<td>Duration</td>-->
                                    <!--<td>Session</td>-->
                                    <!--<td>Duration</td>-->
                                    <!--<td>Activation</td>-->
                                <!--</tr>-->
                                <tr ng-show="!currentScheduleList.length"  style="text-align: center">
                                    <td colspan="9"><text><i>No Data Found</i></text></td>
                                </tr>
                                <tr class="{{schedule.start ? 'sub2-tr' : ''}}" ng-repeat="schedule in currentScheduleList">
                                <!--<tr class="sub-tr">-->

                                    <!--<td>{{schedule.session}}</td>-->
                                    <td>{{schedule.session}}</td><!--<td>{{schedule.sessionCategory}}</td>-->
                                    <td>{{schedule.trainingSessionDescription}}</td>
                                    <td align="center">{{schedule.trainingDuration}}</td>
                                    <!--<td align="center">{{schedule.practiceSession}}</td>-->
                                    <td align="center">{{schedule.practiceDuration}}</td>
                                    <!--<td align="center">{{schedule.assessmentSession}}</td>-->
                                    <td align="center">{{schedule.assessmentDuration}}</td>
                                    <!--<td align="center">{{schedule.isActiveService}}</td>-->
                                    <!--<td>-->
                                        <!--<div ng-show="schedule.isActiveService">-->
                                            <!--<img src="/afya-portal/static/images/right-icon.png"/>-->
                                        <!--</div>-->
                                        <!--<div ng-show="!schedule.isActiveService">-->
                                            <!--<img src="/afya-portal/static/images/wrong-icon.png"/>-->
                                        <!--</div>-->
                                    <!--</td>-->
                                </tr>


                                <!--day10 end-->
                                <tr class="main-tr2" style="border-bottom-style: solid" ng-show="currentScheduleList.length">
                                    <td colspan="2" style="text-align: left; padding-left: 50px;">Total Time in Minutes</td>
                                    <td>{{sessionDuration}}</td>
                                    <!--<td>&nbsp;</td>-->
                                    <td>{{practiceDuration}}</td>
                                   <!--<td>&nbsp;</td>-->
                                    <td>{{assessmentDuration}}</td>
                                     <!--<td>&nbsp;</td>-->
                                </tr>
                                <tr class="main-tr2" ng-show="currentScheduleList.length">
                                    <td colspan="2" style="text-align: left; padding-left: 50px;">Total Time in Hours</td>
                                    <td>{{sessionDurationHours | number:2}}</td>
                                    <!--<td>&nbsp;</td>-->
                                    <td>{{practiceDurationHours | number:2}}</td>
                                   <!--<td>&nbsp;</td>-->
                                    <td>{{assessmentDurationHours | number:2}}</td>
                                     <!--<td>&nbsp;</td>-->
                                </tr>



                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <div class="clearfix"></div>




    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/3.3.0/ekko-lightbox.min.js"></script>-->
    <script src="/afya-portal/static/js/ekko-lightbox.min.js"></script>

</div>