<!DOCTYPE html>
<html ng-app="InvoiceDetailModule">
    <head>
    <title>Invoice</title>
    <meta charset="utf-8" />
        <style type="text/css">
               .bold{
                   font-weight:bold;
               }
               .td-bolder tr th, .td-bolder tr td, .td-bolder {
                    border:01px solid black;
                    border-collapse: collapse;
                }
                .text-right{
                    text-align:right;
                }
                .text-center{
                    text-align: center;
                }
                .right{
                    float:right;
                }
                .left{
                   float:left; 
                }
               .logoImg{
                   width: 230px;
                   height: 80px;
               }
        </style>
        <!--<link href="/afya-portal/static/css/custom.css" rel="stylesheet" type="text/css">-->
        <script src="/afya-portal/static/js/sweet-alert.min.js"></script>
        <link href="/afya-portal/static/css/sweet-alert.css" rel="stylesheet" type="text/css">
    </head>
    <body style="font-family:Arial;font-size: 12px;">
        <div id="printContent" style="width:90%;margin:0% 5% 0% 5%" ng-controller="InvoiceDetailsController" ng-init="getInvoiceDetailsForSelectedInvoiceForGivenTenant()">
		    <div>
			    <div style="float:left">
                    <img ng-src="{{logoURL}}" alt="logo" class="logoImg"/>
                </div>
                <div style="float:left" ng-hide="logoWithAddress">
                    <table>
                        <tr><td ng-bind="visit.provider"></td></tr>
                        <tr><td ng-bind="visit.providerAddress"></td></tr>
                        <tr><td ng-bind="visit.providerAdditionalAddress"></td></tr>
                        <tr><td>Tel : {{visit.providerMobile ? visit.providerMobile : ''}}  Email : {{visit.providerEmail? visit.providerEmail : ''}}</td></tr>
                    </table>
                </div>
		    </div>
            <div style="clear:both;">
            </div>
            <hr />
            <div>
                <h3 style="text-align:center">Patient Invoice</h3>
                <table align="center" style="border:1px solid black;width:100%">
                    <tr>
                        <td class="bold">Afya Id </td>
                        <td>: {{InvoiceItem.afyaId}}</td>
                        <td class="bold">Doctor</td>
                        <td>: {{InvoiceItem.providerFirstname}} {{InvoiceItem.providerLastName}}</td>
                    </tr>
                    <tr>
                        <td class="bold">Civil Id</td>
                        <td>: {{InvoiceItem.civilId}}</td>
                        <td class="bold">Invoice Date</td>
                        <td>: {{InvoiceItem.invoiceDate}}</td>
                    </tr>
                    <tr>
                        <td class="bold">Patient Name </td>
                        <td>: {{InvoiceItem.patientFirstName}} {{InvoiceItem.patientLastName}}</td>
                        <td class="bold">Invoice No</td>
                        <td>: {{InvoiceItem.invoiceNumber}}</td>
                    </tr>
                    <tr>
                        <td class="bold">Patient Type </td>
                        <td>: {{InvoiceItem.patientType}}</td>
                        <td class="bold"><!--Employer Name--></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="bold">Age/Gender</td>
                        <td>: {{InvoiceItem.gender}}/ {{InvoiceItem.age}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
                <table class="td-bolder" align="center" style="width:100%;margin-top:30px;">
                    <tr>
                        <td class="text-center"><strong>Service Name</strong></td>
                        <td class="text-center"><strong>Quantity</strong></td>
                        <td class="text-center"><strong>Unit Price</strong></td>
                        <td class="text-center"><strong>Gross Amount</strong></td>
                    </tr>
                    <tr ng-show="!invoiceDetails.length"  style="text-align: center">
                        <td colspan="4"><text><i>No Data Found</i></text></td>
                    </tr>
                    <tbody ng-repeat="invoiceItemDetail in invoiceDetails">
                    <tr>
                        <td>{{invoiceItemDetail.invoiceItemDescription}}</td>
                        <td class="text-right">{{invoiceItemDetail.invoiceItemQuantity}}</td>
                        <td class="text-right">KD {{invoiceItemDetail.invoiceItemFactor ? invoiceItemDetail.invoiceItemFactor:0 | number : 3}}</td>
                        <td class="text-right" width="250px">KD {{invoiceItemDetail.invoiceItemAmount ? invoiceItemDetail.invoiceItemAmount:0 | number : 3}}</td>
                    </tr>

                    </tbody>
                    <!--<tr>
                        <td colspan="2"></td>
                        <td>Gross Amount: </td>
                        <td class="text-right">KD 0.000 </td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td>Discount: </td>
                        <td class="text-right">KD 0.000 </td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td>Net Amount: </td>
                        <td class="text-right">KD 0.000 </td>
                    </tr>-->
                </table>
                <table class="td-bolder" style="float: right; width: 255px; margin-top: 2px">
                    <!--<tr>
                        <td>
                            <span class="bold" style="width: 60px;">Gross Amount : </span>
                        </td>
                        <td style="text-align: right">
                            KD <span class="bold" style="text-align: right">{{InvoiceItem.invoiceConsessionAmount+InvoiceItem.invoiceAmount ? InvoiceItem.invoiceConsessionAmount+InvoiceItem.invoiceAmount : 0 | number : 3}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="bold">Discount : </span>
                        </td>
                        <td style="text-align: right">
                            KD <span class="bold">{{InvoiceItem.invoiceConsessionAmount ? InvoiceItem.invoiceConsessionAmount:0 | number : 3}}</span>
                        </td>
                    </tr>-->
                    <tr>
                        <td>
                            <span class="bold"><!--Net-->Invoice Amount : </span>
                        </td>
                        <td style="text-align: right">
                            KD <span class="bold">{{InvoiceItem.invoiceAmount ? InvoiceItem.invoiceAmount : 0 | number : 3}}</span>
                        </td>
                    </tr>
                    <!--<tr>
                        <td>
                            <span class="bold">Patient Payable : </span>
                        </td>
                        <td style="text-align: right">
                            KD <span class="bold">{{invoiceInsuranceDetails.patientPayable ? invoiceInsuranceDetails.patientPayable : 0 | number : 3}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="bold">Insurance Payable : </span>
                        </td>
                        <td style="text-align: right">
                            KD <span class="bold">{{invoiceInsuranceDetails.insurancePayable ? invoiceInsuranceDetails.insurancePayable  : 0 | number : 3}}</span>
                        </td>
                    </tr>-->
                    <!--<tr>
                        <td>
                            <span class="bold">User : </span>
                        </td>
                        <td>
                            <span class="bold">{{InvoiceItem.providerFirstname}} {{InvoiceItem.providerLastName}}</span>
                        </td>
                    </tr>-->
                </table>
                <!--<div>
                    <div class="left">
                        &nbsp;
                    </div>
                    <div class="right">
                        <table class="td-bolder">
                            <tr>
                                <td>
                                    <span class="bold">Gross Amount : </span>Zero KD
                                </td>
                                <td>

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="bold">Discount : </span>Zero KD
                                </td>
                                <td>

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="bold">Net Amount : </span>Zero KD
                                </td>
                                <td>

                                </td>
                            </tr>
                        </table>
                    </div>
                </div>-->
            </div>
            <!--<div style="margin-top: 10px;">
                <div class="left">
                    <span class="bold">Amount in Words:</span>Zero KD
                </div>
                <div class="right">
                    <table>
                        <tr>
                            <td class="bold">Patient Payable:</td>
                            <td>KD 0.000</td>
                        </tr>
                        <tr>
                            <td class="bold">Insurance Payable:</td>
                            <td>KD 0.000</td>
                        </tr>
                        <tr>
                            <td class="bold">User:</td>
                            <td>{{InvoiceItem.providerFirstname}} {{InvoiceItem.providerLastName}}</td>
                        </tr>
                    </table>
                </div>
                <div style="clear:both"></div>
            </div>-->

            <div style="clear:both"></div>
            <br/>
            <div><strong>Payment Details:</strong></div>
            <table class="td-bolder" align="center" style="width:100%;margin-top:5px;">
                <tr>
                    <td class="text-center"><strong>Payment Type/Mode</strong></td>
                    <td class="text-center"><strong>Cheque/CC - Auth. Number</strong></td>
                    <td class="text-center"><strong>Date</strong></td>
                    <td class="text-center"><strong>Bank / Card Details</strong></td>
                    <td class="text-center"><strong>Amount</strong></td>
                </tr>
                <tr ng-show="!invoicePayments.length"  style="text-align: center">
                    <td colspan="5"><text><i>No Data Found</i></text></td>
                </tr>
                <tbody ng-repeat="payment in invoicePayments">
                <tr>
                    <td class="text-center">{{payment.paymentTypeDescription}}</td>
                    <td class="text-center">{{payment.chequeOrDDNo}}</td>
                    <td class="text-center">{{payment.paymentDate | date : 'dd/MM/yyyy HH:mm:ss'}}</td>
                    <td class="text-center">{{payment.bankName}}</td>
                    <td class="text-right">KD {{payment.amount ? payment.amount:0 | number : 3}}</td>
                </tr>
                </tbody>
            </table>

            <div style="clear:both"></div>
            <div style="margin:50px 0px; padding: 10px; border-style:solid; border-width: 2px;">
                <div ng-bind-html="patientServicePolicyContent"></div>
            </div>
        </div>
        <div style="clear:both"></div>
        <div align="center">
            <button id="btnPrint" onclick="onPrintClick('printContent')" style="padding:10px;margin-top:20px;font-size:18px"><strong>Print</strong></button>
        </div>
        <div class="clearfix"></div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="../../../static/js/jquery.js" type="text/javascript"></script>
        <script src="../../../static/js/jquery_cookie.js" type="text/javascript"></script>
        <script src="../../../static/js/angular.min.js"></script>
        <script src="../../../static/js/angular-messages.min.js"></script>
        <script src="../../../static/js/PastVisitInvoiceDetails.js"></script>
        <script type="text/javascript">
            function onPrintClick(divName) {
                var printContents = document.getElementById(divName).innerHTML;
                var originalContents = document.body.innerHTML;
                document.body.innerHTML = printContents;
                window.print();
                document.body.innerHTML = originalContents;
            }
        </script>
	</body>

</html>
