<script>
    ga('send', 'pageview', { 'page': '/PatientDashboard', 'title': 'Patient Dashboard'});
</script>

<div>
    <!--<link href="/afya-portal/static/css/afya-provider-services.css" rel="stylesheet" type="text/css">-->
    <!--<script src="/afya-portal/static/js/chosen.jquery.min.js" type="text/javascript"></script>-->
    <!--<link rel="stylesheet" href="/afya-portal/static/css/datepicker.css">-->
    <!--<link rel="stylesheet" href="/afya-portal/static/css/jquery.timepicker.css">-->

<!--<div id="dvLoading"></div>-->
<div class="clearfix"></div>
<div id="Afya-blue">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-6 col-xs-12 mt501" id="nameDiv">
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 text-right mt501 ">
            </div>
        </div>
    </div>
</div>
<!--menu-->

<div>
    <div class="container">
        <div class="row" id="Afya-liteblue" >
            <div class="col-sm-12 col-xs-12 col-md-12 text-left">
                <div class="menu">   <ul>
                    <li><a href="#PatientDashboard/Patient-upcoming-smart-services">Upcoming Services</a></li>
                    <li class="active" > <a href="#PatientDashboard">Account Summary</a></li>
                    <li><a href="#PatientDashboard/Patient-service-list">Services &amp History</a></li>
                    <li><a href="#PatientDashboard/Patient-consent">Consent &amp; Notifications</a></li>
                    <li><a href="#PatientDashboard/Patient_account_policies">Afya Policies</a></li>

                </ul></div>


            </div>

        </div>
    </div>

</div>
<!--<span us-spinner="{radius:30, width:8, length: 16}"></span>-->
<!--menu end-->
<!--<section>
    <div class="container">
        <div class="row">
            <p class=" text-center p-text"> Sample text ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam  Ut </p>

            <div class="col-sm-12 col-xs-12 col-md-12">
                <div class="pack-wraper hvr-grow1">
                    <div class="pack-blue-box">
                        <p>Select report to add to Dashboard View</p>
                        <div class="clearfix"></div>
                    </div>
                    <div class="pack-white-box"  style="overflow-y : scroll; height:200px;">
                        <table width="100%" border="0" class="table table-striped">
                            <tr>

                            </tr>
                            <tr>
                                <td><i class="fa fa-file-text-o"></i> Report name goes here</td>
                                <td><button data-target="" class="btn btn-dash xs-mb15" type="button"><i class="fa fa-plus"></i>Add to Dashboard</button></td>
                                <td><i class="fa fa-file-text-o"></i> Report name goes here</td>
                                <td><button data-target="" class="btn btn-dash xs-mb15 " type="button"><i class="fa fa-plus"></i>Add to Dashboard</button></td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-file-text-o"></i> Report name goes here</td>
                                <td><button data-target="" class="btn btn-dash xs-mb15" type="button"><i class="fa fa-plus"></i>Add to Dashboard</button></td>
                                <td><i class="fa fa-file-text-o"></i> Report name goes here</td>
                                <td><button data-target="" class="btn btn-dash xs-mb15 " type="button"><i class="fa fa-plus"></i>Add to Dashboard</button></td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-file-text-o"></i> Report name goes here</td>
                                <td><button data-target="" class="btn btn-dash xs-mb15" type="button"><i class="fa fa-plus"></i>Add to Dashboard</button></td>
                                <td><i class="fa fa-file-text-o"></i> Report name goes here</td>
                                <td><button data-target="" class="btn btn-dash xs-mb15 " type="button"><i class="fa fa-plus"></i>Add to Dashboard</button></td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-file-text-o"></i> Report name goes here</td>
                                <td><button data-target="" class="btn btn-dash xs-mb15" type="button"><i class="fa fa-plus"></i>Add to Dashboard</button></td>
                                <td><i class="fa fa-file-text-o"></i> Report name goes here</td>
                                <td><button data-target="" class="btn btn-dash xs-mb15 " type="button"><i class="fa fa-plus"></i>Add to Dashboard</button></td>
                            </tr>
                        </table>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>







    </div>
    &lt;!&ndash;/.container&ndash;&gt;
</section>-->
<section id="approach1" style="margin-top: 50px;">
    <div class="container">
        <!--    row1 start-->
        <div class="row mb30" ng-controller="FinancialOverviewController" custom_bind_directive>
            <div class="col-sm-12 col-xs-12 col-md-12" ng-show="MemberType=='Visitor'">
                <!--<div class="col-md-12">"Welcome to Afya My Health Account".
                    Afya Account will store your Health records for all the visits that you have made to Afya Member Care Provider. Avail healthcare services e.g. Tele Consultation, Home Pharmacy , Premium Appointment & many more using Afya App.
                    Please do remember to use your Afya ID during registration at each Clinic / Pharmacy / Lab. Afya will enable to populate your Health Account.
                </div>-->
                <div class="alert alert-info" role="alert">
                    <strong>
                        "Welcome to Afya My Health Account".
                        Afya Account will store your Health records for all the visits that you have made to Afya Member Care Provider. Avail healthcare services e.g. Tele Consultation, Home Pharmacy , Premium Appointment & many more using Afya App.
                        Please do remember to use your Afya ID during registration at each Clinic / Pharmacy / Lab. Afya will enable to populate your Health Account.
                    </strong>
                </div>
            </div>

            <!-- 1st div-->
            <div class="col-sm-12 col-xs-12 col-md-6">
                <div class="pack-wraper hvr-grow1">
                    <div class="pack-whitebg-box">
                        <table width="100%" border="0">
                            <tr>
                                <td width="60%" style="font-weight:bold">Healthcare Spend Summary - Insurance & Self Paid</td>
                                <td width="40%">
                                    <div class="input-daterange" id="datepicker">
                                        <!--<input type="text" class="input-small" name="start" ng-model="startDate" style="display:inline-block; width: 90px;"/>-->
                                        <input type="text" class="input-small" name="start" data-container="body" ng-model="startDate" data-max-date="{{endDate}}" bs-datepicker ng-change="getFinancialOverviewByDate()" style="display:inline-block; width: 90px;"/>
                                        <span class="add-on" style="vertical-align: top; height:26px" style="display:inline-block;">to</span>
                                        <!--<input type="text" class="input-small" name="end" ng-model="endDate" ng-change="getFinancialOverviewByDate()" style="display:inline-block; width: 90px;"/>-->
                                        <input type="text" class="input-small" name="end" data-container="body" ng-model="endDate" bs-datepicker data-min-date="{{startDate}}" ng-change="getFinancialOverviewByDate()" style="display:inline-block; width: 90px;"/>
                                    </div>
                                </td>
                            </tr>
                        </table>


                        <div class="clearfix"></div>
                    </div>
                    <div style="height: 200px;overflow-y: scroll;">
                        <table width="100%" border="0" class="table table-bordered">
                            <tr class="sub-tr">
                                <th class="text-center">Service</th>
                                <th class="text-center">Insurance</th>
                                <th class="text-center">Your Spend</th>
                                <th class="text-center">Total</th>
                            </tr>
                            <tr ng-show="!financialOverviewList.length"  style="text-align: center">
                                <td colspan="4"><text><i>No Data Found</i></text></td>
                            </tr>
                            <tr class="sub33-tr" ng-repeat="financialOverview in financialOverviewList">
                                <td style="text-align: left" ng-bind="financialOverview.Service"></td>
                                <td style="text-align: right" ng-bind="financialOverview.insurancePayable | number : 3"></td>
                                <td style="text-align: right" ng-bind="financialOverview.patientPayable | number : 3"></td>
                                <td style="text-align: right"  ng-bind="financialOverview.amount | number : 3"></td>
                            </tr>
                            <tr  class="sub-tr" ng-show="totalPay > 0 || totalInc > 0 || total > 0">
                                <td style="text-align: left"> Total</td>
                                <td style="text-align: right" ng-bind="totalInc | number : 3"></td>
                                <td style="text-align: right" ng-bind="totalPay | number : 3"></td>
                                <td style="text-align: right" ng-bind="total | number : 3"></td>
                            </tr>
                            <tr  class="sub33-tr" ng-show="totalPay == 0 && totalInc == 0 && total == 0">
                                <td> Total</td>
                                <td style="text-align: right" ng-bind="totalInc | number : 3"></td>
                                <td style="text-align: right" ng-bind="totalPay | number : 3"></td>
                                <td style="text-align: right" ng-bind="total | number : 3"></td>
                            </tr>
                        </table>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div><!-- 1st div-->

            <!-- 2nd div-->
            <div class="col-sm-12 col-xs-12 col-md-6">
                <div class="pack-wraper hvr-grow1">
                    <div class="pack-whitebg-box">
                        <table width="100%" border="0">
                            <tr>
                                <td width="46%" style="font-weight:bold">Healthcare Spend Summary - Insurance & Self Paid</td>
                                <td width="44%"><span class="text-center" ng-bind-template="{{startDate | date : 'dd/MM/yyyy'}} - {{endDate | date : 'dd/MM/yyyy'}}"></span></td>
                                <!-- <td width="5%">Hide </td>
                                 <td width="5%"><button data-widget="remove" class="btn btn-default btn-sm pull-right"><i class="fa fa-times"></i></button></td>-->
                            </tr>
                        </table>
                        <div class="clearfix"></div>
                    </div>
                    <div id="chartFinancial">
                        <!--<img src="/afya-portal/static/../static/line.jpg">-->
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div><!-- 2nddiv-->
        </div>

        <!--    row1 end-->


        <div  ng-controller="StatisticalOverviewController" custom_bind_directive>
            <!--    row2 start-->
            <div class="row mb30">

                <!-- 1st div-->
                <div class="col-sm-12 col-xs-12 col-md-6">
                    <div class="pack-wraper hvr-grow1">
                        <div class="pack-whitebg-box">
                            <table width="100%" border="0">
                                <tr>
                                    <td width="60%" style="font-weight:bold">Visit Summary </td>
                                    <td width="40%"><div class="input-daterange" id="datepicker2">
                                        <input type="text" class="input-small" name="start2" data-container="body" ng-model="servicestartDate" bs-datepicker data-max-date="{{serviceendDate}}" ng-change="getStatisticalServicesChart()"  style="display:inline-block; width: 90px;"/>
                                        <span class="add-on" style="vertical-align: top; height:26px" style="display:inline-block;">to</span>
                                        <input type="text" class="input-small" name="end2" data-container="body" ng-model="serviceendDate" bs-datepicker data-min-date="{{servicestartDate}}" ng-change="getStatisticalServicesChart()" style="display:inline-block; width: 90px;"/>
                                    </div></td>
                                </tr>
                            </table>
                            <div class="clearfix"></div>
                        </div>
                        <div style="height: 200px;overflow-y: scroll;">
                            <table width="100%" border="0" class="table table-bordered">
                                <tr class="sub-tr">
                                    <th class="text-center">Clinics</th>
                                    <th class="text-center">Pharmacy</th>
                                    <!--<th class="text-center">Lab</th>-->
                                </tr>
                                <tr class="sub33-tr">
                                    <td class="text-center"><strong ng-bind="clinicData.visitCount"></strong><text ng-show="clinicData.visitCount != null">&nbsp;Visits </text>&nbsp;&nbsp;<strong ng-bind="clinicData.facilityCount">&nbsp;</strong><text ng-show="clinicData.facilityCount != null">&nbsp;Clinics</text></td>
                                    <td class="text-center"><strong ng-bind="pharmacyData.visitCount"></strong><text ng-show="clinicData.visitCount != null">&nbsp;Visits </text>&nbsp;&nbsp;<strong ng-bind="pharmacyData.facilityCount">&nbsp;</strong><text ng-show="clinicData.facilityCount != null">&nbsp;Pharmacies</text></td>
                                    <!--<td><strong>{{labData.visitCount}}</strong><text ng-show="clinicData.visitCount != null"> Visits </text><strong>{{labData.facilityCount}}</strong><text ng-show="clinicData.facilityCount != null">Clinics</text></td>-->
                                </tr>

                            </table>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div><!-- 1st div-->

                <!-- 2nd div-->
                <div class="col-sm-12 col-xs-12 col-md-6">
                    <div class="pack-wraper hvr-grow1">
                        <div class="pack-whitebg-box">
                            <table width="100%" border="0">
                                <tr>
                                    <td width="46%" style="font-weight:bold">Visit Summary</td>
                                    <td width="44%"><span class="text-center" ng-bind-template="{{servicestartDate | date : 'dd/MM/yyyy'}} - {{serviceendDate | date : 'dd/MM/yyyy'}}"></span></td>
                                    <!--<td width="5%">Hide </td>
                                    <td width="5%"><button data-widget="remove" class="btn btn-default btn-sm pull-right"><i class="fa fa-times"></i></button></td>-->
                                </tr>
                            </table>
                            <div class="clearfix"></div>
                        </div>
                        <div id="chartStaServices">
                            <!--<img src="/afya-portal/static/../static/donut.jpg">-->
                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div><!-- 2nddiv-->
            </div>

            <!----------                          -------------------------------------------                      --------->

            <div class="row mb30">

                <!-- 1st div-->
                <div class="col-sm-12 col-xs-12 col-md-6">
                    <div class="pack-wraper hvr-grow1">
                        <div class="pack-whitebg-box">
                            <table width="100%" border="0">
                                <tr>
                                    <td width="60%" style="font-weight:bold">Smart Services Summary </td>
                                    <td width="40%"><div class="input-daterange" id="datepicker3" >
                                        <input type="text" class="input-small" name="start2" data-container="body" ng-model="visitstartDate" bs-datepicker data-max-date="{{visitendDate}}" ng-change="getStatisticalVisitCountChart()" style="display:inline-block; width: 90px;"/>
                                        <span class="add-on" style="vertical-align: top; height:26px" style="display:inline-block;">to</span>
                                        <input type="text" class="input-small" name="end2" data-container="body" ng-model="visitendDate" bs-datepicker data-min-date="{{visitstartDate}}" ng-change="getStatisticalVisitCountChart()" style="display:inline-block;width: 90px;"/>
                                    </div></td>
                                </tr>
                            </table>
                            <div class="clearfix"></div>
                        </div>
                        <div style="height: 200px;overflow-y: scroll;">
                            <table width="100%" border="0" class="table table-bordered">
                                <tr class="sub-tr">
                                    <th class="text-center">Tele Consultation</th>
                                    <th class="text-center">Home Visit</th>
                                    <th class="text-center">Premium Visit</th>
                                </tr>
                                <tr  class="sub33-tr">
                                    <td style="text-align: right"><strong ng-bind="teleconsultantData.visitCount"></strong></td>
                                    <td style="text-align: right"><strong ng-bind="homeVisitData.visitCount"></strong></td>
                                    <td style="text-align: right"><strong ng-bind="premiumVisitData.visitCount"></strong></td>
                                </tr>
                                <tr class="sub-tr">
                                    <th class="text-center">Home Pharmacy</th>
                                    <th class="text-center">Appointment Request</th>
                                    <th class="text-center">&nbsp;</th>
                                </tr>
                                <tr  class="sub33-tr">
                                    <td style="text-align: right"><strong ng-bind="homePharmacyData.visitCount"></strong></td>
                                    <td style="text-align: right"><strong ng-bind="appointmentRequestData.visitCount"></strong></td>
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div><!-- 1st div-->

                <!-- 2nd div-->
                <div class="col-sm-12 col-xs-12 col-md-6">
                    <div class="pack-wraper hvr-grow1">
                        <div class="pack-whitebg-box">
                            <table width="100%" border="0">
                                <tr>
                                    <td width="46%" style="font-weight:bold">Smart Services Summary</td>
                                    <td width="44%"><span class="text-center" ng-bind-template="{{visitstartDate | date : 'dd/MM/yyyy'}} - {{visitendDate  | date : 'dd/MM/yyyy'}}"></span></td>
                                    <!--<td width="5%">Hide </td>
                                    <td width="5%"><button data-widget="remove" class="btn btn-default btn-sm pull-right"><i class="fa fa-times"></i></button></td>-->
                                </tr>
                            </table>
                            <div class="clearfix"></div>
                        </div>
                        <div id="chartStaVisit">
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div><!-- 2nddiv-->
            </div>
        </div>

        <!--    row2 end-->










    </div>
</section>
<!--/#care-provider-payer-->




<section id="adapt-method">
    <div class="center container">

    </div>

</section>

<script>
    $(function() {

        $( ".btn" ).click(function() {
            var icon = $( this );
            icon.toggleClass( "ui-icon-minusthick ui-icon-plusthick" );
            icon.closest( ".box" ).find( ".box-body" ).toggle();
        });
    });


</script>
<!--<script src="/afya-portal/static/js/jquery-1.9.1.min.js"></script>-->
<script>
    $(document).ready(function () {
        //rotation speed and timer
        var speed =5000;

        var run = setInterval(rotate, speed);
        var slides = $('.slide');
        var container = $('#slides ul');
        var elm = container.find(':first-child').prop("tagName");
        var item_width = container.width();
        var previous = 'prev'; //id of previous button
        var next = 'next'; //id of next button
        slides.width(item_width); //set the slides to the correct pixel width
        container.parent().width(item_width);
        container.width(slides.length * item_width); //set the slides container to the correct total width
        container.find(elm + ':first').before(container.find(elm + ':last'));
        resetSlides();


        //if user clicked on prev button

        $('#buttons a').click(function (e) {
            //slide the item

            if (container.is(':animated')) {
                return false;
            }
            if (e.target.id == previous) {
                container.stop().animate({
                    'left': 0
                }, 1500, function () {
                    container.find(elm + ':first').before(container.find(elm + ':last'));
                    resetSlides();
                });
            }

            if (e.target.id == next) {
                container.stop().animate({
                    'left': item_width * -2
                }, 1500, function () {
                    container.find(elm + ':last').after(container.find(elm + ':first'));
                    resetSlides();
                });
            }

            //cancel the link behavior
            return false;

        });

        //if mouse hover, pause the auto rotation, otherwise rotate it
        container.parent().mouseenter(function () {
            clearInterval(run);
        }).mouseleave(function () {
            run = setInterval(rotate, speed);
        });


        function resetSlides() {
            //and adjust the container so current is in the frame
            container.css({
                'left': -1 * item_width
            });
        }

    });
    //a simple function to click next link
    //a timer will call this function, and the rotation will begin

    function rotate() {
        $('#next').click();
    }
</script>
<!--<script src="/afya-portal/static/js/jquery-1.js"></script>-->
<!--<script src="/afya-portal/static/js/bootstrap-datepicker.js"></script>-->
<script type="text/javascript" src="https://www.google.com/jsapi"></script>


<script type="text/javascript">
    // When the document is ready
    $(document).ready(function () {
        // debugger;
        /*$('.input-daterange').datepicker({
            todayBtn: "linked",
            format: 'dd/mm/yyyy',
            autoclose: true
        });*/
    });
</script>

<script src="/afya-portal/static/js/jquery_cookie.js" type="text/javascript"></script>
<!--<script>-->
<!--$(window).load(function(){-->
  <!--$('#dvLoading').fadeOut(2000);-->
<!--});-->
<!--</script>-->
</div>