<!DOCTYPE html>
<html ng-app="PrintInvoiceModule">
<head>
    <title>Patient Invoice</title>
    <meta charset="utf-8" />
    <style type="text/css">
        .bold{
        font-weight:bold;
        }

        .td-bolder tr th, .td-bolder tr td, .td-bolder {
        border:01px solid black;
        border-collapse: collapse;
        padding:5px;
        }

        .text-right{
        text-align:right;
        }

        .right{
        float:right;
        }
        .tdDataWidth{
        width: 200px;
        }
        .logoImg{
        /*width: 230px;*/
        height: 80px;
        }
        .no-border td
        {
        border-left:0px solid transparent !important;
        border-top:0px solid transparent !important;
        border-bottom:0px solid transparent !important;
        }
        .txt-right
        {
        text-align:right
        }
    </style>
</head>
<body style="font-family: Arial; font-size: 12px;" ng-controller="PrintInvoiceController">
<div id="printContent" style="width:90%;margin:0% 5% 0% 5%"  ng-init="getInvoiceData()">
    <div>
        <div style="float:left">
            <img ng-src="{{logoURL}}" alt="logo" class="logoImg"/>
        </div>
        <div style="float:left" ng-hide="logoWithAddress">
            <table>
                <tr><td ng-bind="detail.clinic_name"></td></tr>
                <tr><td ng-bind="detail.address"></td></tr>
                <tr><td ng-bind="detail.additional_address"></td></tr>
                <tr><td>{{detail.city ? detail.city + ',': ''}}&nbsp;&nbsp;{{detail.state ? detail.state + ',': ''}}&nbsp;&nbsp;{{detail.country ? detail.country + ',': ''}}</td></tr>
                <tr><td>Tel : {{detail.mobile ? detail.mobile : ''}} &nbsp; Email : {{detail.email? detail.email : ''}}</td></tr>
            </table>
        </div>
    </div>
    <div style="clear:both;">
    </div>
    <hr />
    <div>
        <h3 style="text-align:center"><!--Sales-->Patient Invoice</h3>
        <table align="center" style="border:1px solid black;width:100%;border-collapse: collapse;">
            <tr>
                <td class="tdDataWidth"><b>Afya ID </b></td>
                <td><b>:</b></td>
                <td>{{invoice.AFYA_ID}}</td>
                <td class="tdDataWidth"><b>Doctor </b></td>
                <td><b>:</b></td>
                <td>{{invoice.DOCTOR_NAME}}</td>
            </tr>
            <tr>
                <td class="tdDataWidth"><b>Civil ID </b></td>
                <td><b>:</b></td>
                <td>{{invoice.civilId}}</td>
                <td class="tdDataWidth"><b>Invoice Date </b></td>
                <td><b>:</b></td>
                <td> {{invoice.INVOICE_DATE | date:'dd/MM/yyyy'}}</td>
            </tr>
            <tr>
                <td class="tdDataWidth"><b>Patient Name </b></td>
                <td><b>:</b></td>
                <td>{{invoice.firstName}} {{invoice.lastName}} </td>
                <td class="tdDataWidth"><b>Invoice No </b></td>
                <td><b>:</b></td>
                <td>{{invoice.INVOICE_NUMBER}} </td>
            </tr>
            <tr>
                <td class="tdDataWidth"><b>Gender </b></td>
                <td><b>:</b></td>
                <td>{{invoice.gender}}</td>
                <td class="tdDataWidth"><b>Patient Insurance </b></td>
                <td><b>:</b></td>
                <td>{{invoice.INSURANCE_PAYABLE}}</td>
            </tr>
            <tr>
                <td class="tdDataWidth"><b>Patient Type</b></td>
                <td><b>:</b></td>
                <td>{{invoice.patientType}}</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
        <br />
        <table class="td-bolder" align="center" style="border:1px solid black;width:100%">
            <tr>
                <td><b>Description</b></td>
                <td><b>Quantity</b></td>
                <td><b>Unit Price</b></td>
                <!--<td><b>Currency</b></td>-->
                <td><b>Gross Amount</b></td>
            </tr>
            <tr class="no-border"  ng-repeat="invoiceItem in invoiceLineItems">
                <td ng-bind="invoiceItem.invoiceItemDescription"></td>
                <td ng-bind="invoiceItem.invoiceItemQuanity"></td>
                <td class="txt-right" ng-bind="'KD ' +(invoiceItem.invoiceItemFactor?invoiceItem.invoiceItemFactor : 0 | number : 3)"></td>
                <!--<td ng-bind="invoiceItem.factorDescription"></td>-->
                <td class="txt-right" ng-bind="'KD ' +(invoiceItem.invoiceItemAmount?invoiceItem.invoiceItemAmount : 0 | number : 3)"></td>
            </tr>
            <tr>
                <td colspan="2" rowspan="3">
                    <label>Checked By:____________________________</label><br/><br/>
                    <label>Sign_______________________&nbsp;&nbsp;&nbsp;Date_______________</label>
                </td>
                <td>Gross Total</td>
                <td colspan="2" class="txt-right"> KD {{GrossAmount ? GrossAmount:0 | number : 3}}</td>
            </tr>
            <tr>
                <td>Discount</td>
                <td colspan="2"  class="txt-right"> KD {{NetAmount ? NetAmount:0 | number : 3}}</td>
            </tr>
            <tr>
                <td>Net Total</td>
                <td colspan="2" class="txt-right"> KD {{GrossAmount + NetAmount ? GrossAmount + NetAmount:0 | number : 3}}</td>
            </tr>
        </table>
        <br />
        <div style="margin-bottom:5px;"><strong>Payment Details:</strong></div>
        <table class="td-bolder" align="center" style="border:1px solid black;width:100%">
            <tr>
                <td class="text-center"><strong>Payment Type/Mode</strong></td>
                <td class="text-center"><strong>Cheque/CC - Auth. Number</strong></td>
                <td class="text-center"><strong>Date</strong></td>
                <td class="text-center"><strong>Bank / Card Details</strong></td>
                <td class="text-center"><strong>Amount</strong></td>
            </tr>
            <tr ng-show="!invoicePayments.length"  style="text-align: center">
                <td colspan="5"><text><i>No Data Found</i></text></td>
            </tr>
            <tbody ng-repeat="payment in invoicePayments">
            <tr>
                <td class="text-center">{{payment.paymentTypeDescription}}</td>
                <td class="text-center">{{payment.chequeOrDDNo}}</td>
                <td class="text-center">{{payment.paymentDate | date : 'dd/MM/yyyy HH:mm:ss'}}</td>
                <td class="text-center">{{payment.bankName}}</td>
                <td class="text-right">KD {{payment.amount ? payment.amount:0 | number : 3}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div style="clear:both"></div>
<div align="center">
    <button id="btnPrint" onclick="onPrintClick('printContent')" style="padding:10px;margin-top:20px;font-size:18px"><strong>Print</strong></button>
</div>
<div class="clearfix"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/afya-portal/static/js/jquery.js" type="text/javascript"></script>
<script src="/afya-portal/static/js/jquery_cookie.js" type="text/javascript"></script>
<script src="/afya-portal/static/js/angular.min.js"></script>
<script src="/afya-portal/static/js/angular-messages.min.js"></script>
<script src="/afya-portal/static/js/PrintHistory.js"></script>
<script type="text/javascript">
    function onPrintClick(divName) {
        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;
        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents;
    }
</script>
</body>

</html>
